---
layout: "imgcontentpage"
title: "Blog"
icon: "pencil"
order: 2
referencesOthers: true
---
<% var posts = getCollection("posts").toJSON() %>
<% posts.forEach(function(post){ %>
  <div class="post">
    <h2 class="title"><a href="<%- post.url %>"><%= post.title %></a></h2>
    <h3 class="subtitle"><%- post.subtitle %></h3>
    <h4 class="date"><%- post.formattedDate %></h4>
    <div class="firstcontent blogpost">
      <%- post.contentRenderedWithoutLayouts.split("-split-")[0] %>
    </div>
    <a class="morelink" href="<%- post.url %>">Read More...</a>
  </div>
<% }) %>
