---
layout: contentpage
---

<% if(document.subtitle){ %>
  <h2 id="subtitle"><%- document.subtitle %></h2>
<% } %>
<h3 id="date"><%- document.formattedDate %></h3>
<div class="blogpost">
  <%- content %>
</div>
<script src="<%- site.isso_url %>js/embed.min.js" data-isso="<%- site.isso_url %>"></script>
<section id="isso-thread"></section>
