<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= document.title %> // Tim Stallard</title>
    <%- getBlock("styles").toHTML() %>
    <%- getBlock("scripts").toHTML() %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6d0000">
    <meta name="msapplication-navbutton-color" content="#6d0000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#6d0000">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  </head
  <body>
    <div id="main">
      <div id="header">
        <h1>Tim Stallard</h1>
        <div id="nav">
          <% var pages = getCollection("pages").toJSON() %>
          <% pages.forEach(function(page){ %>
            <% if(!page.hidden){ %>
              <a class="fa fa-<%= page.icon %> <% if(page.url.split("/")[1] == document.url.split("/")[1]){ %>active<% } %>" href="<%= page.url %>" data-rooturl="<%= page.url.split("/")[1] %>"></a>
            <% } %>
          <% }) %>
        </div>
      </div>
      <div id="content" class="animations<% if(document.addclass){ %> <%= document.addclass %><% } %> initial-load" data-slug="<%- document.slug %>">
        <meta data-menu="<%= document.url.split("/")[1] %>" data-slug="<%- document.slug %>" />
        <%- content.replace("-split-", "") %>
      </div>
    </div>
    <div id="footer">
      <h3>&copy; Tim Stallard <%- new Date().getFullYear() %></h3>
      Hand crafted in the UK with DocPad, SmoothState.js, and lots of other magic - see the code <a href="https://github.com/TimStallard/timstallard.me.uk">on GitHub</a>
      <br>
      Mugshot by the awesome <a href="http://lws.io/">Kevin Lewis</a> at <a href="http://rebelmakers.co.uk/">Rebel Makers Club</a>
    </div>
  </body>
</html>
