<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= document.title %> // Tim Stallard</title>
    <link rel="stylesheet" href="/libs/Animate.css" />
    <link rel="stylesheet" href="/libs/fa.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/jquery.smoothState.min.js"></script>
    <script src="/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6d0000">
    <meta name="msapplication-navbutton-color" content="#6d0000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#6d0000">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  </head>
  <body>
    <div id="main">
      <div id="header">
        <h1>Tim Stallard</h1>
        <div id="nav">
          <% var pages = getCollection("pages").toJSON() %>
          <% pages.forEach(function(page){ %>
            <a class="fa fa-<%= page.icon %> <% if(page.url.split("/")[1] == document.url.split("/")[1]){ %>active<% } %>" href="<%= page.url %>" data-rooturl="<%= page.url.split("/")[1] %>"></a>
          <% }) %>
        </div>
      </div>
      <div id="content" class="animations" data-slug="<%- document.slug %>">
        <meta data-menu="<%= document.url.split("/")[1] %>" data-slug="<%- document.slug %>" />
        <%- content %>
      </div>
    </div>
    <div id="footer">
      <h3>&copy; Tim Stallard 2015</h3>
      Hand crafted in the UK with DocPad, SmoothState.js, and lots of other magic - see the code on GitHub
    </div>
  </body>
</html>
